.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    flex-direction: row-reverse;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      display: flex;
      flex-direction: column;
      background-size: cover;
      color: white;
      padding: 50px;
      gap: 30px;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      p1 {
        font-size: 14px;
      }

      span {
        font-size: 14px;
      }

      button {
        cursor: pointer;
        width: 50%;
        border: none;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        color: rebeccapurple;
        font-size: 16px;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      h1 {
        font-weight: bolder;
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          padding: 20px 10px;
          border-bottom: 1px solid lightgray;
        }

        button {
          border-radius: 10px;
          font-size: 16px;
          padding: 10px;
          width: 50%;
          border: none;
          cursor: pointer;
          background-color: #938eef;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}
